@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4D04E;
    font-family: "Figtree", system-ui;
}
.container{
    width: 380px;
    height: 500px;
    background-color: aliceblue;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px 0px;
    padding: 1.2rem;
    margin: 48px auto;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    border-radius: 10px;
}
.preview-text{
    margin-top: 1.2rem;
    margin-left: 4px;
}
.preview-text h4{
    background-color: #F4D04E;
    max-width: 80px;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 800;
}
#publish-date{
    margin-top: 12px;
    margin-left: 4px;
    font-size: 14px;
}
#main-heading{
    margin-top: 12px;
    margin-left: 4px;
}
#main-content{
    margin-top: 12px;
    margin-left: 4px;
    color: #6B6B6B;
}
.user-container{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
    margin-left: 4px;
}
.user-container p{
    font-size: 12px;
    font-weight: 800;
}
.attribution{
    margin-top: 150px;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
h2:hover{
    cursor: pointer;
    color: #F4D04E;
}